.video-chat-container {
  justify-content: space-evenly;
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
  height: 96%;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  right: 20em;
  width: 281px;
  margin-right: 80px;
  font-family: "Roboto", sans-serif;
}

.video-chat-container-mobile {
  right: -72px !important;
  top: 1px !important;
  height: 90vh;
  width: 96%;
}
@media screen and (max-width: 750px) {
  .myId {
    width: 100% !important;
    margin-right: 0 !important;
    border-radius: 5px !important;
    padding: 2rem !important;
    box-shadow: 1px 1px 4px lightgrey;
  }
}

.video-chat-container-mobile-calling {
  top: -59px !important;
}
@media screen and (min-width: 1900px) and (max-width: 2100px) {
  .video-chat-container {
    bottom: -5.6em !important;
  }
}
@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .video-chat-container {
    bottom: -0.4em !important;
  }
}
@media screen and (min-width: 907px) and (max-width: 1599px) {
  .video-chat-container {
    bottom: -7.4em !important;
  }
}

@media screen and (min-width: 774px) and (max-width: 906px) {
  .video-chat-container {
    bottom: -3.1em !important;
  }
}

.myId {
  max-width: 410px;
  margin-right: 5rem;
  border-radius: 5px;
  /* background: #c9d6ff;
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  );
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  );  */

  padding: 2rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

.call-button {
  text-align: center;
}

.video-container {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 15px;
}

.caller {
  text-align: center;
  color: rgb(2, 2, 2);
  position: relative;
  top: -9%;
}
.closed-video-chat-cross {
  max-width: 54px;
  border: none;
  background: none;
  padding: 11px;
  cursor: pointer;
  position: absolute;
  right: 5px;
}
.inputs-video-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 13px;
}
.call-content > input,
.inputs-video-chat > input,
#filled-basic1 {
  width: 142px;
  height: 33px;
  border-radius: 7px;
  text-transform: capitalize;
  border: 1px solid lightgray;
  padding: 5px;
}
.call-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 7px;
}
.button-video-chat {
  border: 1px solid #3ac7f8;
  border-radius: 7px;
  background: transparent;
  width: 54%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  margin-left: 11px;
}
.button-video-chat:hover {
  background: #3ac7f8;
  transition: all 0.6s ease-in-out;
}
.call-button-green {
  background-color: transparent !important;
  border: none;
  font-size: 15px !important;
}
.invitation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}
.marginTopContent {
  margin-top: 55px !important;
}
.call-ended-screen {
  width: 300px;
  height: 200px;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
