/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #e6ecf8;
}
::-webkit-scrollbar-thumb {
  background-color: #141c3a;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* * {
 padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
* {
  font-family: "Roboto", sans-serif !important;
}

.App {
  text-align: center;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-color: transparent;
  box-shadow: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    /* transform: translatey(0px); */
    animation: float 6s ease-in-out infinite;
  }
}

.App-header {
  padding-top: 83px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
#__react-alert__ > div > div > div {
  width: 100% !important;
}

.header-headContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px -5px 12px rgb(133 132 132);
  width: 100%;
  padding: 15px;
  margin-bottom: 13px;
  position: fixed;
  height: 81px;
  border-bottom: 1px solid gray;
}

.changeLanguague-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30% !important;
}
/* .admin-button {
  margin-left: 52em;
} */
.admin-button > button > img {
  width: 37%;
  margin-top: 6px;
}
.adminButton {
  width: 107px;
  height: 50px;
  background: transparent;
  border: 1px solid #36c5f8;
  border-radius: 8px;
  transition: all 0.6s ease-in-out;
}
.adminButton:hover {
  background: #36c5f8;
  border: 1px solid #8febbc;
  transition: all 0.6s ease-in-out;
}
.card-ribbon {
  position: absolute;
  top: 80px;
  left: -5px;
  width: 196px;
  height: 141px;
  overflow: hidden;
}
.card-ribbon span {
  position: absolute;
  display: block;
  width: 185px;
  padding: 10px 0;
  background-color: #e4eaf8;
  box-shadow: 0 5px 5px rgb(0 0 0 / 20%);
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  left: -48px;
  top: 19px;
  transform: rotate(-45deg);
}
.card-ribbon::before,
.card-ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #e4eaf8;
  border-top-color: transparent;
  border-left-color: transparent;
}
.card-ribbon::before {
  top: 0;
  right: 0;
}
.card-ribbon::after {
  bottom: 0;
  left: 0;
}

.titleAlert {
  text-transform: lowercase !important;
}
.loginForm input {
  height: 33px;
  width: 90%;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #000;
  text-indent: 15px;
}

@media screen and (max-width: 750px) {
  .chat-button {
    bottom: 81px !important;
  }
}
